
         <!-- CAROUSEL START-->
        <section class="py-5 text-center container">
                <div class="">
                  <div class="img-wrap"><img class="img-fluid" src="https://cb.scene7.com/is/image/Crate/cb_dPLP_20230209_OutdoorDinnerwareV2?wid=1440&qlt=85&op_sharpen=1"></div>
                </div>
          </section>
          <!-- CAROUSEL END-->
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <ng-container *ngFor="let product of products">
       
                    <!--cards-->
                    <div class="col-md-4">
                        <figure class="card card-product rounded-0 border-0" style="height: 500px;" routerLink="/product-details/{{product.product_Id}}" routerLinkActive="active">
                            <div class="img-fluid"><img class="img-fluid" src="https://cb.scene7.com/is/image/Crate/FauxBoisMelDinnerPltSSS21/$web_pdp_main_carousel_med$/201215170032/faux-bois-melamine-dinner-plate.jpg"></div>
                            <div class="bottom-wrap text-center mt-3">
                                <span class="small">New Arrival</span>
                                <h5 class="title">{{product.product_Name}}</h5>	
                                <div class="price-wrap h6">
                                    <span class="price-new">${{product.price}}</span> <br>
                                    <del class="text-muted"> $1980</del>
                                </div> <!-- price-wrap.// -->
                            </div> <!-- bottom-wrap.// -->
                        </figure>
                    </div>
            
              </ng-container>
          </div>




